<!DOCTYPE html>
<html>
<title>Song</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body bgcolor="99CCFF">

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card-2">
    <a href="home" class="w3-bar-item w3-button"><b>รวมบทเพลงพระราชนิพนธ์</b> </a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="kingsong1" class="w3-bar-item w3-button">Kingsong1</a>
      <a href="kingsong2" class="w3-bar-item w3-button">Kingsong2</a>
      <a href="kingsong3" class="w3-bar-item w3-button">Kingsong3</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="/w3images/architect.jpg" alt="Architecture" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>BR</b></span> <span class="w3-hide-small w3-text-light-grey">Architects</span></h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="projects">
    
  </div>

  


  
   
<!-- End page content -->
</div>
<center><div class="w3-container w3-padding-32" id="projects" >


    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16" >เพลง  สายฝน</h3>
  </div><center>
<center><div class="col-md-6">
                    <p>เมื่อลมฝนบนฟ้ามาลิ่ว</p>
                    <p>ต้นไม้พลิ้วลู่กิ่งใบ</p>
                    <p>เหมือนจะเอนรากคลอนถอนไป</p>
                    <p>แต่เหล่าไม้ยิ่งกลับงาม</p>
                    <p>พระพรหมท่านบันดาลให้ฝนหลั่ง  </p>
                    <p>เพื่อประทังชีวิตมิทราม</p>
                    <p>น้ำทิพย์สาดเป็นสายพรายพลิ้วทิวงาม</p>
                    <p>ทั่วเขตคามชุ่มธารา</p>
                    <p>สาดเป็นสายพรายพลิ้วทิวทุ่ง</p>   
                    <p>แดดทอหรุ้งอร่ามตา</p>
                    <p>ุ้งเลื่อมลายพร่างพรายนภา</p>
                    <p>ยามเมื่อฝนมาแต่ไกล</p>
                    <p>พระพรหมช่วยอำนวยให้ชื่นฉ่ำ</p>
                    <p>เพื่อจะนำดับความร้อนใจ</p>
                    <p>น้ำฝนหลั่งลงมาจากฟ้าแดนไกล   
                    <p>พืชพรรณไม้ชื่นยืนยง</p>
                   
                </div></center>
  
<!-- Google Map -->
<div id="googleMap" class="w3-grayscale" style="width:100%;height:450px;"></div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>รหัสนิสิต 57160517  น.ส. กฤติมา  ปลั่งคล้ายแข <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green"></a></p>
</footer>

<!-- Add Google Maps -->

-->

</body>

</html>
